@import url(shared.css);

.footerWrapper {
    position: absolute;
    bottom: 0;
}

main, h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 220px;
    gap: 20px;
}

h1 {
    height: 30vh;
}

@media (max-width: 600px) {
    main, h1 {
        padding: 80px 32px;
    }
}